!!! 5
mixin card(article)
  .card
    h3.headline #{article.title}
    p.abstract
      | #{article.abstract}


mixin card_stack(story, articles)
  .card_stack(id = story.replace(/\s+/g, ''))
    h2.story_name #{story}
    for article in articles.slice(articles.length - 4, articles.length)
      +card(article)
    
html
  head
    meta(charset='utf-8')
    title Newsline
    link(href='styles/normalize.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet/less', type='text/less', href='styles/frontpage.less')
  body
    h1.page_title Newsline
    h2.page_subtitle Inform Your News
    #content
      - // console.log(stories);
      - for (var story in stories)
        - // console.log(story);
        +card_stack(story, stories[story])
      
    script(src='sources/less-1.3.1.min.js')
    script(src='sources/coffee-script.js')
    script(src='sources/jquery/jquery.js')
    script(src='sources/underscore/underscore.js')
    // script(src='components/backbone/backbone.js')
    script(src='sources/jquery.dotdotdot-1.5.2.js')
    script(src='sources/jquery-mousewheel/jquery.mousewheel.js')
    // <script type="text/coffeescript" src="shadow_scroller.coffee"></script>
    script(type='text/coffeescript', src='sources/frontpage_hover.coffee')
    script(type='text/coffeescript', src='sources/frontpage_card_click.coffee')
